<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <!-- Add Your favicon here -->
    <!--<link rel="icon" th:href="@{/img/favicon.ico}"></link>-->

    <title>Satoru - Japonês de forma prática e eficiente</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>

    <!-- Animation CSS -->
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"></link>

    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet"></link>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->    
    <link th:href="@{/css/home_style.css}" rel="stylesheet"></link>
</head>
<body id="page-top">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/login}">LOGIN</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#team">Time</a></li>
                        <li><a class="page-scroll" href="#features">Funcionalidades</a></li>                        
                        <li><a class="page-scroll" href="#testimonials">Testemunhos</a></li>
                        <li><a class="page-scroll" href="#contact">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Satoru</h1>
                    <p>Aprenda japonês de forma prática e eficiente.</p>
                    <p>
                        <a class="btn btn-lg btn-primary" th:href="@{/register}" role="button">CADASTRE-SE</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/laptop.png" alt="laptop"></img>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>Estudo de onde estiver.</h1>
                    <p>Com seu smartphone ou tablet.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">CADASTRE-SE</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>


<section id="details" class="container services">
    <div class="row">        
        <div class="col-sm-3">
            <h2>Focado no entendimento</h2>
            <p>A primeira coisa que as crianças aprendem, quanto a língua, é entender. O curso é focado no entendimento dos alfabetose palavras antes de aprender a construir frases.</p>
        </div>
        <div class="col-sm-3">
            <h2>Comece pelo básico</h2>
            <p>Aulas dos alfabetos mais básicos, para quem está começando no japonês.</p>
        </div>
        <div class="col-sm-3">
            <h2>Memorização intensificada</h2>
            <p>Com as técnicas de revisão utilida nesta plataforma, ficará muito mais fácil memorizar, para sempre, o que foi aprendido.</p>
        </div>
        <div class="col-sm-3">
            <h2>Completamente responsivo</h2>
            <p>Site feito para que você possa estudar do seu computador, tablet ou smartphone com a mesma facilidade.</p>
        </div>
    </div>
</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Nosso Time</h1>
                <p>As pessoas que acreditam e lutam pelo sucesso da plataforma.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="img/avatar1.jpg" class="img-responsive img-circle" alt=""></img>
                    <h4><span class="navy">Dimitri</span> Lameri</h4>
                    <p>Idealizador, desenvolvedor, CTO e CEO da plataforma Satoru.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="https://twitter.com/dlameri"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/dimylameri"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://br.linkedin.com/in/dlameri"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Uma equipe em constante crescimento e sempre a procura de pessoas boas, com espirito de "dono do produto", para trabalhar conosco.</p>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Mais e mais vantagens</h1>
                <p>Aprenda mais em menos tempo</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>Relatórios</h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>Acompanhe o seu andamento no curso com relatórios de fácil entendimento. Dessa forma ficará fácil entender aonde estão suas maiores dificuldades e intensificar o estudo.</p>
            </div>
            <div class="col-lg-5 features-text">
                <h2>Comece agora</h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>Sem burocracia, basta cadastrar-se e já estará apto a sair estudo com todos os nossos cursos disponíveis. O melhor de tudo, sem pagar nada.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>Estudo no seu tempo</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>Por ser uma plataforma 100% digital, os cursos estão disponíveis 24h por dia, possibilitando que o aluno escolha o melhor horário para seus estudos.</p>
            </div>
            <div class="col-lg-5 features-text">                
                <h2>Comunidade</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>Entre em contato com outros estudantes da plataforma Satoru, forme grupos e compare seus resultados.</p>
            </div>
        </div>
    </div>

</section>


<section id="testimonials" class="navy-section testimonials">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    O que as pessoas vem dizendo
                </h1>
                <div class="testimonials-text">
                    <i>"Finalmente encontrei um jeito fácil e grátis para aprender japonês. Ótimo método de ensino e memorização."</i>
                </div>
                <small>
                    <strong>18.09.2016 - Jéssica Lameri</strong>
                </small>
            </div>
        </div>
    </div>

</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Entre em contato</h1>
                <p>Estamos sempre dispostos a ouvir sugestões e reclamações.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">Satoru San.</span></strong><br/>                    
                    <abbr title="Phone">Tel:</abbr> (21) 1234-5678
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Se estiver procurando por ajuda quanto a utilização da plataforma ou alguma correção no conteúdo ensinado, clique no link abaixo para nos enviar um e-mail.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:dimitrilameri@gmail.com" class="btn btn-primary">Envie-nos um e-mail</a>
                <p class="m-t-sm">
                    Ou siga-nos nas nossas redes sociais
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="https://twitter.com/dlameri"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://facebook.com/dimylameri"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://br.linkedin.com/in/dlameri"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</section>

<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/pace.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/classie.js}"></script>
<script th:src="@{/js/cbpAnimatedHeader.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/inspinia.js}"></script>
</body>
</html>
