<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="pt-br">
<body>
	<nav class="navbar-default navbar-static-side" role="navigation"
		th:fragment="menu">
		<div class="sidebar-collapse">
			<ul class="nav" id="side-menu">
				<li th:replace="layout/user-profile :: user"></li>
				<li id="home">
					<a th:href="@{/home}">
						<i class="fa fa-bar-chart-o"></i> 
						<span class="nav-label">Home</span>
					</a>
				</li>
				
				<li id="course" sec:authorize="hasRole('ROLE_USER')">
					<a href="#">
						<i class="fa fa-graduation-cap"></i> 
						<span class="nav-label">Cursos</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level">
						<li th:id="${course.name}" th:each="course : ${courses}"><a th:href="@{/study/course/{id}(id=${course.id})}" th:text="${course.name}"></a></li>
					</ul>
				</li>
				<li id="review" sec:authorize="hasRole('ROLE_USER')">
					<a href="mailbox.html">
						<i class="fa fa-signal"></i> 
						<span class="nav-label">Revisões</span>
						<span class="label label-warning pull-right">19</span>
					</a>
				</li>
				<li id="admin" sec:authorize="hasRole('ROLE_ADMIN')">
					<a href="#">
						<i class="fa fa-user"></i> 
						<span class="nav-label">Administração</span>
						<span class="fa arrow"></span>
					</a>
					<ul class="nav nav-second-level">
						<li id="adminCourse"><a th:href="@{/course}">Curso</a></li>
						<li id="adminLessonWord"><a th:href="@{/lessonWord}">Conteúdo</a></li>
					</ul>
				</li>
			</ul>

		</div>
	</nav>
</body>
</html>