<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<body>
	<h2 th:fragment="title" th:text="${courseName + ' - ' + lessonName}">Título</h2>
	<div class="wrapper wrapper-content" th:fragment="content">
		<div class="row">			
            <div class="ibox">
                <div class="ibox-content lesson-box">
                    <div class="lesson-word" th:text="${model.lessonWord.word}">Palavra em Japonês</div>
                    <div class="lesson-desc">
                        <span class="lesson-progress" th:text="${model.quantity + '/' + model.maxStudies}">1/1</span>
                        <small class="text-muted" th:text="${'Tradução: ' +  model.lessonWord.meaning}">Significado</small>                        
                        
                        <div class="m-t form-group">
                        	<div class="col-sm-4">
                            	<a href="#" class="btn btn-block btn-outline btn-primary">Opção 1</a>
                            </div>
                            <div class="col-sm-4">
                            	<a href="#" class="btn btn-block btn-outline btn-primary">Opção 2</a>
                            </div>
                            <div class="col-sm-4">
                            	<a href="#" class="btn btn-block btn-outline btn-primary">Opção 3</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
		</div>
	</div>
	<script th:fragment="customJS" th:inline="javascript">
		/*<![CDATA[*/
		$(function() { setActive(["course", [[${courseName}]]]); })
		/*]]>*/
	</script>
</body>
</html>

